<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Base {% endblock %} - My Webpage</title>
    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
</head>
<body>
    {% include "nav.html" %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=list-group>
    {% for category, message in messages %}
        <div class="alert alert-{{category}}" role="alert">
                {{ message }}
                <button type="button" class="close" aria-label="Close" onclick="closeAlert()">X</button>
        </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    {% block body %}
    <h1> Hi! Welcome to my website!</h1>
    {% endblock %}
</body>
</html>