{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %} To Do{% endblock %}
{% block body %}

<div style="text-align: center; padding-top: 20px;">
    <h1>To Do List</h1>
</div>
<div style="max-width: 60%;">
    <div>
        <form method="post" action="{{ url_for('add') }}" novalidate>
            {{ form.csrf_token }}
            {{ render_field(form.title)}}
            {{ render_field(form.description)}}
            {{ form.submit(class="btn-round btn btn-primary btn-lg") }}
        </form>
    </div>
</div>
<div>
    <table responsive>
        <thead>
            <tr>
                <th>№</th>
                <th>Todo iteam</th>
                <th>Description</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todo_list %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.title}}</td>
                <td>{{ todo.description}}</td>
                <td>
                    {% if todo.complete == False %}
                        <span>In progress</span>
                    {% else %}
                        <span>Completed</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ url_for('update', todo_id=todo.id) }}">Update</a>
                    <a href="{{ url_for('delete', todo_id=todo.id) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}